pyahocorasick
benepar
ftfy
gensim
nltk
pandas
scipy
sentencepiece
six
spacy==3.2.0
textstat
torch>=1.12.1
tqdm
transformers==4.18.0
visdom
scikit-learn
tensorboardX
pytorch-ignite
pytorch-pretrained-bert
pytorch-transformers
torchviz
graphviz
allennlp
tensorflow
typing_extensions==4.4.0
