pyahocorasick==1.4.0
benepar==0.1.2
ftfy==5.5.1
gensim==3.7.1
nltk==3.4.4
pandas==1.5.0
scipy==1.10.1
sentencepiece==0.1.97
six==1.12.0
spacy
textstat==0.7.3
torch
tqdm==4.38.0
transformers
visdom==0.2.4
scikit-learn
tensorboardX==1.8
pytorch-ignite
pytorch-pretrained-bert
pytorch-transformers
torchviz==0.0.1
graphviz==0.10.1
allennlp==2.1.0
tensorflow==2.10.0
